{% extends "layouts/layout.index.html" %}
{% block content %}
<div id="particles-js"></div>
<section>
    <div class="center">
        <div class="text grow">
            <h1 class="wow fadeInLeftBig" data-wow-delay="0.2s">Kobiler için Akıllı Danışman</h1>
            <h2 class="bigTitle wow fadeInLeftBig" data-wow-delay="0.3s">Yakında Buradayız</h2>
        </div>
        <div class="grow logo wow fadeInRightBig" data-wow-delay="0.6s">
            <img src="assets/img/logo/musavir-logo.svg" alt="">
        </div>
    </div>

    <footer>
        <div class="bottomBar wow fadeInUp">
            <div class="contact">
            <p class="contactTitle">Test Hesabı İçin: </p>
            <p>İletişim: <a href="mailto:info@codeck.com.tr">info@codeck.com.tr</a></p>
            </div>
            <span>
                <img src="assets/img/logo/codeck.svg" alt="">
            </span>
            <span class="socials">
                <a href="https://www.facebook.com/Codeck-109192994062400/">Facebook</a>
                <a href="https://www.linkedin.com/company/codeck/">Linkedin</a>
                <a href="https://www.instagram.com/codeckistanbul/">Instagram</a>
                <a href="https://www.youtube.com/channel/UCrlUXDo6tsaJBvljWgBFuYg">Youtube</a>
            </span>
        </div>
    </footer>
</section>

{% endblock %}
